<%- include("header") -%>

<h2><center>About the project</center></h2>

<p><center>This is RHV's attempt at making a functional To-Do-List that can be used by anyone!</center></p>

<%- include("footer") -%>